
<h1>Tasks</h1>

<section class = "content index">
<ol>
<% @tasks.each do |task| %>
    <%  if task.completion_date == nil %>
      <li class="index-task-action"><p class = "not-complete-action"><%= task.action %></p>
    <% else %>
      <li class="index-task-action"><p class = "complete-action"><%= task.action %>
    <% end %>
      <!-- <%= check_box_tag(:is_complete) %>
        # <%= label_tag(:is_complete, 1) %> -->

     <!-- set task as 0 to start at initialization? -->
    <p>
      <% if task.is_complete== nil && task.completion_date == nil %>
        <%= link_to " Mark complete", mark_task_path(task.id), method: :put %> |

      <% elsif task.is_complete != nil || task.completion_date != nil %>
        <%= link_to_if(task.is_complete != nil || task.completion_date != nil, " Unmark complete", tasks_path) %> |
      <% end %>

      <%= link_to " View Details", task_path(task.id) %> |
      <%= link_to " Delete task", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete?"}%>
    </p></li>
<% end %>
</ol>

<%= link_to "Add a new task", new_task_path %>
</section>


<!-- press mark complete. adds add to completion. -->
