
<h1>Tasks</h1>

<section class = "content index">
<ol>
<% @tasks.each do |task| %>
      <li class="index-task-action"><%= task.action %>
        <!-- <%= check_box_tag(:is_complete) %>
        <%= label_tag(:is_complete, 1) %> -->
    <p>
      <% if task.is_complete== nil && task.completion_date == nil %>
        <%= link_to" Mark complete", tasks_path %> |
      <% elsif task.is_complete != nil || task.completion_date != nil %>
        <%= link_to_if(task.is_complete != nil || task.completion_date != nil, " Unmark complete", tasks_path) %> |
      <% end %>
       
      <%= link_to " View Details", task_path(task.id) %> |
      <%= link_to " Delete task", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete?"}%>
    </p></li>
<% end %>
</ol>

<%= link_to "Add a new task", new_task_path %>
</section>


<!-- press mark complete. adds add to completion. -->
